@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --colorTextPrimary: #979dac;
  --colorTextSecundary: #e2eafc;
  --colorBackGroundPrimary: #000814;
  --colorBackGroundSecundary: #097588;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--colorBackGroundPrimary);
  font-size: 1em;
}

.inicial {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
h1 {
  font: 700 2rem/1.1 "Ubuntu", sans-serif;
  color: var(--colorTextSecundary);
  margin: 20px 0;
}

h2,
h3 {
  color: var(--colorTextSecundary);
  margin: 20px 0;
  font-family: "DM Sans";
}

p {
  font-family: "DM Sans";
  margin: 10px 0;
  color: var(--colorTextSecundary);
}

#title {
  height: 100%;
  align-items: center;
  display: flex;
  gap: 20px;
  margin-right: 50px;
}

#subTitle {
  overflow: hidden;
  font-size: 3.3em;
  white-space: nowrap;
  background: -webkit-linear-gradient(
    90deg,
    #05424d 0%,
    #097588 25%,
    #2cd4f2 50%,
    #097588 75%,
    #05424d 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-icon {
  font-size: 2.1rem;
  color: var(--colorTextPrimary);
}

/* principal */
.principal {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-auto-rows: auto;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.navegacao {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  text-align: center;
  display: flex;
  justify-content: space-around;
  gap: 120px;
  align-items: center;
  padding: 10px 150px;
  box-shadow: 1px 1px 8px var(--colorBackGroundSecundary);
  height: 80px;
}

.navegacao #abas {
  align-items: center;
  display: flex;
  height: 100%;
}

.navegacao i {
  font-size: 1.1em;
  color: var(--colorTextSecundary);
}

.navegacao .changeTema {
  font-size: 1.5em;
  margin-left: 50px;
}
.navegacao a {
  text-decoration: none;
  color: var(--colorTextSecundary);
  font-size: 1rem;
  font-weight: 600;
  margin: 0 15px;
}

.navegacao a:hover {
  text-decoration: underline;
  text-decoration-color: var(--colorBackGroundSecundary);
}

.cabecalho {
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 100px 0 0 0;
  padding: 8px;
  gap: 10px;
}

.cabecalho .header1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cabecalho .profile-box {
  box-shadow: 1px 1px 50px var(--colorBackGroundSecundary);
  border-radius: 100%;
  width: 300px;
  height: 300px;
  border: 5px solid var(--colorTextSecundary);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  animation: 5s ease infinite profile;
  margin-left: 50px;
  background: transparent;
}

.cabecalho img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: transparent;
}

.cabecalho span {
  font: 800 2.7em "Ubuntu";
}

.cabecalho p {
  font: 400 1.3em/1.1 "DM Sans";
}

@keyframes profile {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

.conteudo {
  grid-row: 3/4;
  grid-column: 2/3;
  gap: 100px;
}

.conteudo article {
  margin: 100px 0;
}

.conteudo > #projetos > .projetos-content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.projeto-box {
  min-height: 225px;
  width: 100%;
  overflow: hidden;
  transition: transform 0.4s ease;
  border-bottom: 2px solid var(--colorBackGroundSecundary);
  border-right: 2px solid var(--colorBackGroundSecundary);
  border-radius: 8px;
  display: flex;
}

.projeto-box:hover {
  transform: scale(1.05);
}

.projeto-box > img {
  width: 30%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease, filter 0.4s ease;
  cursor: pointer;
}

.projeto-box .overlay {
  width: 70%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projeto-box .btn-acess {
  border: 1px solid var(--colorBackGroundSecundary);
  width: 130px;
  height: 50px;
  border-radius: 30px;
  color: var(--colorTextSecundary);
  font: 600 1em/1.1px "DM Sans";
  background-color: transparent;
  margin-left: 80%;
  margin-top: 20px;
}

.btn-acess:hover {
  background-color: var(--colorBackGroundSecundary);
  cursor: pointer;
}

#skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  gap: 30px 25px;
  margin: 0 auto;
}

.icon {
  border: 2px solid var(--colorBackGroundSecundary);
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px 8px 0 0;
  transition: box-shadow 0.2s ease;
}

.icon:hover {
  box-shadow: 1px 1px 8px var(--colorBackGroundSecundary);
}
.icon > p {
  font: 500 20px "DM Sans";
}

.icon > img {
  width: 50px;
  height: 50px;
}

.rodape {
  grid-row: 4/5;
  grid-column: 1/4;
  background-color: var(--colorBackGroundSecundary);
  height: 200px;
  display: flex;
  flex-direction: column;
}

.icon-contatos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80%;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

.rodape h2 {
  text-align: center;
  color: var(--colorTextSecundary);
}

.rodape i {
  font-size: 1.4em;
  background-color: var(--colorBackGroundPrimary);
  color: var(--colorTextSecundary);
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .principal {
    display: flex;
  }
  h1 {
    font-size: 1em;
  }
  #subTitle {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 0.9em;
  }
  .navegacao {
    gap: 20px;
    justify-content: space-around;
  }

  #abas2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;

    && a {
      color: var(--colorTextSecundary);
      text-decoration: none;
    }
  }
  .navegacao i {
    font-size: 1em;
  }
  .navegacao a {
    font-size: 0.6em;
  }

  .cabecalho .header1 {
    flex-direction: column;
    text-align: center;
  }

  .cabecalho .profile-box {
    width: 120px;
    height: 120px;
    margin: 50px auto 0 auto;
    background: transparent;
    border: 3px solid var(--colorBackGroundSecundary);
  }

  .cabecalho img {
    object-position: center;
    object-fit: contain;
  }

  .cabecalho p {
    font-size: 0.9em;
    padding: 11px;
  }

  .conteudo article {
    margin: 20px 0;
  }

  .conteudo h2 {
    margin-left: 20px;
  }
  .conteudo #sobre-mim {
    padding: 20px;
  }
  .projetos-content {
    width: 90%;
    margin: auto;
  }

  .projeto-box {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .projeto-box img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 50%;
  }

  .projeto-box .overlay {
    justify-content: center;
    height: 50%;
    padding: 50px 10px;
    width: 100%;
  }

  .projeto-box .btn-acess {
    margin: 10px 0px 20px 60%;
  }

  .icon {
    width: 120px;
    height: 120px;
  }

  .icon p {
    font-size: 0.9em;
  }

  .icon > img {
    width: 40px;
    height: 40px;
  }

  .rodape {
    max-height: 130px;
    justify-content: space-around;
  }
}
