@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --colorTextPrimary: #979dac;
  --colorTextSecundary: #e2eafc;
  --colorBackGroundPrimary: #000814;
  --colorBackGroundSecundary: #097588;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--colorBackGroundPrimary);
  font-size: 1em;
  overflow-x: hidden;
}

.inicial {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
h1 {
  color: var(--colorTextSecundary);
  margin: 20px 0;
}

h2,
h3 {
  color: var(--colorTextSecundary);
  margin: 20px 0;
  font-family: "DM Sans";
}

p {
  font-family: "DM Sans";
  margin: 10px 0;
  color: var(--colorTextSecundary);
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
}

#title {
  align-items: center;
  display: flex;
  gap: 20px;
  margin-right: min(10em, 5%);
}

#subTitle {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  white-space: wrap;
  background: -webkit-linear-gradient(
    90deg,
    #05424d 0%,
    #097588 25%,
    #2cd4f2 50%,
    #097588 75%,
    #05424d 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-icon {
  font-size: 2.1rem;
  color: var(--colorTextPrimary);
}

/* principal */
.principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.navegacao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80px;
  border-bottom: 0.1px solid white;
  padding: 10px min(10em, 1em);
  box-shadow: 1px 1px 8px var(--colorBackGroundSecundary);
}

.navegacao #abas {
  display: flex;
  align-items: center;
  height: 100%;
}

.navegacao i {
  font-size: 1.1em;
  color: var(--colorTextSecundary);
}

.navegacao .changeTema {
  font-size: 1.5em;
  margin-left: 50px;
}
.navegacao a {
  text-decoration: none;
  color: var(--colorTextSecundary);
  font-size: 1rem;
  font-weight: 600;
  margin: 0 15px;
}

.navegacao a:hover {
  text-decoration: underline;
  text-decoration-color: var(--colorBackGroundSecundary);
}

.navegacao .menu-hamburguer {
  display: none;
  font-size: 1.8em;
  cursor: pointer;
}

.cabecalho {
  margin: 100px 0 0 0;
  padding: min(10em, 5%);
  gap: 10px;
}

.cabecalho .header1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cabecalho .profile-box {
  box-shadow: 1px 1px 50px var(--colorBackGroundSecundary);
  border-radius: 100%;
  width: 300px;
  height: auto;
  border: 5px solid var(--colorTextSecundary);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  animation: 5s ease infinite profile;
  margin-left: 50px;
  background: transparent;
}

.cabecalho img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: transparent;
}

.cabecalho span {
  font: 800 2.7em "Ubuntu";
}

.cabecalho p {
  font: 400 1.3em/1.1 "DM Sans";
}

@keyframes profile {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

.conteudo {
  gap: 100px;
  padding: min(10em, 5%);
}

.conteudo article {
  margin: 100px 0;
}

.conteudo > #projetos > .projetos-content {
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.projeto-box {
  min-height: 225px;
  min-width: 20%;
  margin: 0 auto;
  overflow: hidden;
  transition: transform 0.4s ease;
  border: 2px solid var(--colorBackGroundSecundary);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.projeto-box:hover {
  transform: scale(1.05);
}

.projeto-box > img {
  transition:
    transform 0.4s ease,
    filter 0.4s ease;
  cursor: pointer;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.projeto-box .overlay {
  width: 70%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projeto-box .btn-acess {
  border: 1px solid var(--colorBackGroundSecundary);
  width: 130px;
  height: 50px;
  border-radius: 30px;
  color: var(--colorTextSecundary);
  font: 600 1em/1.1px "DM Sans";
  background-color: transparent;
  margin-left: 80%;
  margin-top: 20px;
}

.btn-acess:hover {
  background-color: var(--colorBackGroundSecundary);
  cursor: pointer;
}

#skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  gap: 30px 25px;
  margin: 0 auto;
}

.icon {
  border: 2px solid var(--colorBackGroundSecundary);
  min-width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px 8px 0 0;
  transition: box-shadow 0.2s ease;
}

.icon:hover {
  box-shadow: 1px 1px 8px var(--colorBackGroundSecundary);
}
.icon > p {
  font: 500 20px "DM Sans";
}

.icon > img {
  width: 50px;
  height: 50px;
}

.rodape {
  background-color: var(--colorBackGroundSecundary);
  height: 200px;
  display: flex;
  flex-direction: column;
}

.icon-contatos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80%;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

.rodape h2 {
  text-align: center;
  color: var(--colorTextSecundary);
}

.rodape i {
  font-size: 1.4em;
  background-color: var(--colorBackGroundPrimary);
  color: var(--colorTextSecundary);
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navegacao #abas {
    display: none;
  }
  .conteudo > #projetos > .projetos-content {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}
